* {
  box-sizing: border-box;
}

@font-face{
    font-family: 'Poppins';
    src: url('../Media/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url('../Media/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    width: 100%;
    height: 83.5%;
}

body{
    background-color: whitesmoke;
    margin: 0;
    width: 100%;
    height: 100%;
}

header{
    background-color: #C9A27E;
    width: 100%;
    height: 100px;
    box-shadow: #C9A27E 5px 5px 5px 5px;

    
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#cabecera{
    display: flex;
    justify-content: space-between;
}

#cabecera p{
    font-size:11px;
}

#loggin{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
    color: (#4A2E1F);
    font-family: 'Poppins';
}

p{
    font-family: 'Inter';
}

main{
    display: flex;
    width: 100%;
    height: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    
    border: solid  black 1px;

    background-color: #C9A27E;
    width: 150px;
    height: 100%
}

ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
    border: outset black 1px;
}

ul li:hover{
    background-color: #D8B898;
}

ul li:active{
    border: inset black 1px;
    background-color: #A9825F;
}

#reloj{
    font-size: 13px;
}

#aside_img{
    width: 130px;
    border: solid 1px black;
}

section{
    flex: 1;
    background-color: #D7B899;
    max-height: 800px;
    overflow: scroll;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: bisque;
    padding: 15px;
    padding-right: 30px;
    margin: 20px;
    border-radius: 12px;

    border-bottom: 1px solid black;
    border-top: 1px solid white;
    box-shadow: #C9A27E 1px 5px 5px 1px;
}

label{
    font-size: 12px;
}

input{
    width: 100px;
}

#img_articulo{
    width: 250px;
}

#contenido{
    width: 60%;
}

article h3{
    margin-top: 0;
    font-family: 'Poppins';
}

#nav-movil {
    display: none;
    background-color: #C9A27E;
    width: 100%;
}

#nav-movil ul {
    list-style: none;
    display: flex;
    width: 100%;
}

#nav-movil li a {
    color: #4A2E1F;
    font-family: 'Poppins';
    font-size: 12px;
}

@media (max-width: 768px){
    aside{
        display: none;
    }

    article{
        flex-direction: column;
        padding: 5px;
        margin: 5px;
    }

    #nav-movil{
        display: block;
        height: 20px;;
    }

    #img_articulo{
        order: 1;
    }

    p{
        font-size: 11px;
    }

    #contenido{
        width: 100%;
        order: 2;
    }

    header{
        height: 120px;
    }
}
